* {
  font-family: 'Libre Franklin', sans-serif;
}

body {
  margin: 7.5%;
}

a {
  color: #6f65e9;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* img {
  width: 100%;
} */

form {
  text-align: center;
}

label {
  height: 5.5rem;
  font-size:3rem;
}

input {
  height: 5.5rem;
  font-size:3rem;
  color: #6f65e9;
  border-radius: 1rem;
  border-color: #6f65e9;
  padding-left: 1rem;
}

textarea{
  height: 5.5rem;
  font-size:3rem;
  color: #6f65e9;
  border-radius: 1rem;
  border-color: #6f65e9;
  padding-left: 1rem;
  width: 45%;
  height: 35%;
}

button {
  height: 5.5rem;
  font-size: 3rem;
  margin: 1.5rem;
  background: transparent;
  color: #6f65e9;
  border-radius: 1rem;
  border-color: #6f65e9;
}

button:hover{
  color: white;
  background: -webkit-linear-gradient(#6f65e9, #6f65e9);
}

.source-credit {
  font-style: italic;
  font-size: 70%;
}

#annotation-marker {
  position: fixed;
  z-index:2;
  border: 5px solid #39ff14;
  border-radius: 100px;
  height:100px;
  width:100px;
}

/* ——————————————————————— */
/* ——————————————————————— */
/* DETAIL CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--detail-container{

}

  .div--art-annotations-container{
    display:flex;

  }
    .annotation-zone{
      width:95%;
      flex-grow: 1;

      margin-right: 2.5%;
      /* flex-basis: 90%; */
    }
    .annotation-zone img{

    }

    .annotation-list-container{
      overflow-y: scroll;
    }

      .div--annotation-card{
        width: 40%;
        /* width:95%; */
        border-radius: 1rem;
        margin-bottom: 1.5%;
        border: 2px solid #6f65e9;
      }

        .button--annotation-card {
          height: 2rem;
          font-size: 1rem;
        }
          .button--annotation-card-delete {
            color: red;
            border-color: red;
          }
            .button--annotation-card-delete:hover {
              color: white;
              background: red;
            }

          .button--annotation-card-update {
            color: #ffc900;
            border-color: #ffc900;
          }

          .button--annotation-card-update:hover {
            color: white;
            background: #ffc900;
          }

.div--detail-form{
  text-align: left;

}
  .detail-form-small-inputs{
    display: flex;

  }
    .detail-form-input{
      margin-top: 1rem;
      margin-bottom: 2rem;
      height: 2rem;
      font-size: 1.5rem;
    }

    .detail-form-label{
      font-size: 1.5rem;
    }

  .detail-form-button  {
    margin-left: 0rem;
    margin-top: 1rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  .detail-form-textarea  {
    height: 2rem;
    font-size: 1.5rem;
    width: 100%;
    height: 5rem;
  }

  .div--artwork-info button {
    margin-left: 0rem;
    margin-top: 1rem;
  }

/* ——————————————————————— */
/* ——————————————————————— */
/* INDEX CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.form--index{
  margin: 3.5rem;
}

/* ——————————————————————— */
/* ——————————————————————— */
/* ARTLIST CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */



/* ——————————————————————— */
/* ——————————————————————— */
/* ARTCARD CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--art-card{

  margin: 2.5rem;
  padding: 1.5rem;
  width: 90%;
  border-style: solid;
  border-width: 1px;
  /* border-color: #C8C8C8; GRAY*/
  border-color: #6f65e9;

  display:flex;
  justify-content: center;
  vertical-align: middle;
}
  .div--art-card img{
    width: 70%;
  }

  .div--art-card-left{
    margin: 1rem;
    margin-left: auto;
  }

  .div--art-card-right{
    margin: 1rem;
  }

  .art-card-title{
    font-size: 2.75rem;
  }

  .art-card-artist{
    font-size: 2rem;
  }

  .art-card-detail{
    font-size: 1.5rem;
  }

  .detail-source{
    font-size: 1.1rem;
  }



/* ——————————————————————— */
/* ——————————————————————— */
/* LOGIN CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.login-title{
  font-size: 7rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  background: -webkit-linear-gradient(#6f65e9, #667eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div--login-container{
  text-align: center;

  margin: 20%;

}

.form--login {

}

.form--login-input{
  margin: 2rem;
}

.button--login{

}



/* ——————————————————————— */
/* ——————————————————————— */
/* HOME CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.home-title {
  font-size: 15rem;
  margin-bottom: -0.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5rem;
  background: -webkit-linear-gradient(#6f65e9, #667eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ——————————————————————— */
/* ——————————————————————— */
/* ABOUT CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--about-container{
  font-size: 2rem;
}

/* ——————————————————————— */
/* ——————————————————————— */
/* FULLANNOTATION CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--full-annotation{
  width:95%;
  margin-bottom: 3%;
  border: 2px solid #6f65e9;
}


/* ——————————————————————— */
/* ——————————————————————— */
/* NAVBAR STYLING */
/* ——————————————————————— */
/* ——————————————————————— */
.div--nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: cyan;
  width: 100%;
  height: 5em;
  background-image: linear-gradient(135deg, #6f65e9 0%, #667eea 100%);
  /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
}
  .div--nav-bar-item {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    vertical-align:center;
    padding: 0.5rem;
    margin: 1rem;
    margin-right: 1.5rem;
    text-transform: uppercase;
    float: left;
    font-size: 2.25rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
  }
    .div--nav-bar-item:hover {
      text-decoration: line-through;
    }

    .logo {
      float: left;
      /* font-weight: 500; */
      font-weight: 600;
    }
    .nav-login {
      float: right;
    }
