body {
  margin: 5%;
}

#annotation-marker {
  position: fixed;
  z-index:2;
  border: 5px solid #39ff14;
  border-radius: 100px;
  height:100px;
  width:100px;
}

#detail-image {
  width: 50%;
  height: auto;
}
